@import '../../common/css/custom-theme.scss';
.echart-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .select-date-wrapper {
    height: 80px;
    .select-date-con {
      position: fixed;
      top: 0;
      width: 100%;
      height: 80px;
      background: $color-brand;
      z-index: 99;
      .select-year-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
        .select-year {
          font-size: 26px;
          color: #fff;
        }
      }
    }
  }
  .scroll-view {
    overflow: hidden;
    flex: 1;
    .tabs-wrapper {
      height: 88px;
    }
    .line-chart {
      width: 100%;
      height: 500px;
      margin-top: 20px;
    }
    .pie-chart-wrapper {
      padding: 0 20px 20px;
      box-sizing: border-box;
      // margin-top: 40px;
      margin-top: 200px;
      .pie-chart-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .title {
          font-size: 26px;
          font-weight: bold;
          color: #333;
          line-height: 38px;
        }
        .pie-chart-type-wrapper {
          display: flex;
          flex-direction: row;
          .item {
            box-sizing: border-box;
            padding: 10px 20px;
            font-size: 24px;
            color: $color-brand;
            border: 1px solid $color-brand;
            &:first-child {
              border-radius: 8px 0 0 8px;
            }
            &:last-child {
              border-radius: 0 8px 8px 0;
            }
            &.on {
              background: $color-brand;
              color: #fff;
            }
          }
        }
      }
      .pie-chart {
        width: 100%;
        height: 500px;
      }
    }
  }
}
