@import './common/css/custom-theme.scss';
@import '~taro-ui/dist/style/index.scss';
page {
  box-sizing: border-box;
  height: calc(100% - 100px - constant(safe-area-inset-bottom));
  height: calc(100% - 100px - env(safe-area-inset-bottom));
}
